<div class="container box-principal">
    <div class="row box-fila">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <form #categoryForm="ngForm" (ngSubmit)="createCategory(categoryForm)">
                        <div class="form-group capitalize">
                            <label>Nombre de categoria</label>
                            <input type="text" name="name" 
                            class="form-control capitalize" 
                            [(ngModel)]="category.name"
                            (blur)="category.name = cleanUnnecessaryWhiteSpaces(category.name)"
                            placeholder="Ingrese nombre de categoria"
                            maxlength="25">
                            <button type="submit" class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>                   
                </div>
            </div>
            <div class="text-center my-4">
                <a [routerLink]="'./../add-book'">Volver</a>
            </div>           
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form #searchForm="ngForm" (ngSubmit)="getCategoryByName()" 
                        class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search capitalize" type="text" 
                        name="search" 
                        placeholder="nombre de categoria" 
                        aria-label="Search" 
                        [(ngModel)]="inputValueSearch"
                        (blur)="inputValueSearch = cleanUnnecessaryWhiteSpaces(inputValueSearch)"
                        maxlength="25">
                        <button class="btn btn-outline-success mr-1" type="submit">Search</button>
                        <button class="btn btn-outline-success" type="button" (click)="getCategories()">Listar categorias</button>
                    </form>
                    <table class="table table-striped mt-4" *ngIf="searchResult">
                        <thead>
                            <tr>
                                <td></td>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of categoryArray; index as i">
                                <input type="hidden" value={{c.id_category}}>
                                <td>{{ i + 1 }}</td>
                                <td class="text-center">{{ c.name }}
                                    <div *ngIf="editing && categoryEdit.id_category == c.id_category">
                                        <form #editForm="ngForm" (ngSubmit)="updateCategory()">
                                            <div class="form-group">
                                                <input type="text"
                                                name="editedName" 
                                                [(ngModel)]="categoryEdit.name"
                                                (blur)="categoryEdit.name = cleanUnnecessaryWhiteSpaces(categoryEdit.name)"
                                                class="form-control capitalize"
                                                maxlength="25" 
                                                placeholder={{c.name}}>
                                                <button class="btn btn-outline-success mr-1" type="submit">Update</button>
                                                <button class="btn btn-outline-warning mr-1" type="button" (click)="editing = false">Cancelar</button>
                                            </div>                         
                                        </form>
                                    </div>                                 
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm" (click)="editCategory($event, c.id_category)">Editar</button>
                                </td>
                            </tr>
                        </tbody>                        
                    </table>
                    <p style="color: red;" *ngIf="!searchResult">No se encontraron resultados</p>
                </div>
            </div>
        </div>
    </div>
</div>

