<!-- <div class="alert alert-success" role="alert">
    <h4 class="alert-heading text-center">MUCHAS GRACIAS POR SU COMPRA!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Seguinos en las redes sociales.</p>
</div> -->

<div class="card text-center">
    <div class="card-header">
        <h4 class="alert-heading text-center">MUCHAS GRACIAS POR SU COMPRA!</h4>
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Estimado usuario:</h5>
      <p class="card-text">Recuerde que puede ver el listado de sus compras</p>
      <a mat-raised-button color="primary" [routerLink]="'/user-purchases'">
        <mat-icon>done</mat-icon>
        MIS COMPRAS
      </a>
    </div>
    <div class="card-footer text-muted">
      Su compra esta siendo procesada.
    </div>
  </div>
