.box-principal{
    min-height: 100vh;
}

.box-fila{
    margin-top: 80px;
}

.card {
    max-width: 800px;
}

label{
    font-weight:  bolder;
}

a:hover{
    cursor: pointer;
}

.capitalize{
    text-transform: capitalize;
}