<div class="container box-principal">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <!-- si ordersArray tiene contenido muestro tabla -->
            <div class="card">
                <div class="card-body">
                    <img src="./../../../../assets/images/my-purchases.svg">
                    <div class="row" id="row-filter">
                        <div class="col-md-4 box">
                            <label>Desde:</label>
                            <mat-form-field>
                                <mat-label>fecha 1</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="date1">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 box">
                            <label>Hasta:</label>
                            <mat-form-field>
                                <mat-label>fecha 2</mat-label>
                                <input matInput [matDatepicker]="picker2" [(ngModel)]="date2">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <div class="box-buttons text-right">
                                <button id="btn-filtrar" mat-raised-button color="celeste" (click)="filterOrdersByDate()">Filtrar</button>
                                <button [disabled]="btnDisabled" mat-raised-button color="warn" (click)="listAllOrders()">Listar todas</button>
                            </div>
                        </div>                        
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Fecha de tu compra</th>
                                <th scope="col">Total</th>
                                <th scope="col">Lugar de entrega</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <p class="text-danger" *ngIf="filterOrdersArray.length <= 0"><small>{{ message }}</small></p>
                        <tbody *ngIf="filterOrdersArray.length > 0">                    
                            <tr class="text-center" *ngFor="let order of filterOrdersArray; index as i">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{ order.order_date | date:'dd/MM/yyyy' }}</td>
                                <td>{{ order.total_price | currency }}</td>
                                <td>{{ order.adress }} - {{ order.localidad }}</td>
                                <td>
                                    <a style="text-decoration: none;" mat-raised-button
                                        [routerLink]="['/order-detail/', order.id_order]">
                                        <mat-icon>details</mat-icon>
                                        detalle
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-1">

        </div>

    </div>
</div>