.box-principal{
    min-height: 100vh;
    
}

.row{
    margin-top: 80px !important;
}

.box{
    display: flex !important;
    justify-content: center !important;
}

.card{
    max-width: 300px;
}

a{
    text-decoration: none;
}




