<div class="container box-principal">
  <div class="row">

    <div class="col-md-4 box">
      <div class="card">
        <img src="../../../../assets/images/clients.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Sección libros</h4>
          <p class="card-text">Sección para agregar y editar un libro. Ver el listado completo de todos los libros,
            búsqueda de un libro particular. </p>
          <a id="a-agregar" routerLink="/add-book" class="btn btn-primary">Agregar</a>
          <a routerLink="/books-list" class="btn btn-primary">Listar/editar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 box">
      <div class="card">
        <img src="../../../../assets/images/clients.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Sección clientes</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/clientes" class="btn btn-primary table">Clientes</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 box">
      <div class="card">
        <img src="../../../../assets/images/sales.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Sección ventas</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary table">Ventas</a>
        </div>
      </div>
    </div>

  </div>
</div>
