.box-principal{
    min-height: 100vh;
}

.box-fila{
    margin-top: 80px;
}

img{
    width: 80px;
    height: 100px;
}

.capitalize{
    text-transform: capitalize;
}

input[type=radio]{
    margin-right: 8px;
}

// poniendo en html color="celeste" de esta forma se cambia de color el mat-button de Angular Material
.mat-celeste {
    background-color: #2b93e6 !important;
    color: #fff !important;
    margin-bottom: 5px !important;
}